* {
    padding: 0px;
    margin: 0px;
    background-color: rgb(225, 223, 219);
}

.mainnav {
    border: 1px solid grey; 
    display: flex;
    padding:10px;
    font-size: x-large;
    justify-content: space-around;
    align-items: baseline;
    

    
}
#copyright:hover{
    text-decoration: underline;
}
.navmenu {
    display: flex;
    justify-content: space-around;
    width: 70%;
    flex-wrap: wrap;
    
    
}

.navmenu a {
    text-decoration: none;
    font-size: medium;
    color: black;
    

}

.navmenu a:hover {
    color: grey;
    font-size: 16.9px;
    transition: 0.6s;
}
.dp{
    border-radius: 100px;
    width: 150px;
    margin-top: 10px;
    margin-left: 8px;
    margin-bottom: 10px;
    border: 3px double;
    
    
}
.intro{
    display: flex;
    border: 1px solid black;
}
.intro h2{
    margin-left: 5px;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(84, 79, 79);
}
 .intro h3{
    margin-left: 5px;
    margin-top: 10px;
    color: rgb(84, 79, 79);
} 
.color{
    color: red;

}